<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The value of dice is : <%= diceValue %></h1>
    <% if (diceValue == 6){ %>
        <h2>Congratulations you won !!!</h2>
    <% }else{ %>
        <h2>Better Luck next time ~ ~ ~</h2>
    <% } %>
</body>
</html>