<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This is homepage</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam aliquid, nam iste inventore alias vitae nemo, eaque ipsum odit ducimus optio nobis accusantium. Minus dolorem saepe veniam quod quasi mollitia?</p>
    <button>click me</button>
</body>
</html>